tests/testewsdl.xml

<?xml version="1.0" encoding="iso-8859-1"?>
<wsdl:definitions
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://my.server.name/path/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://my.server.name/path/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> 
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://my.server.name/path/"> 
      <s:element name="Galeria">
        <s:complexType>
          <s:sequence> 
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:integer" /> 
          </s:sequence>
        </s:complexType>
      </s:element> 
      <s:element name="ImagensGaleria">
        <s:complexType>
          <s:sequence> 
            <s:element minOccurs="1" maxOccurs="1" name="Imagem" type="s:string" /> 
          </s:sequence>
        </s:complexType>
      </s:element> 
    </s:schema>
  </wsdl:types> 
  <wsdl:message name="listaImagensGaleriaSoapIn">
    <wsdl:part name="parameters" element="tns:Galeria" />
  </wsdl:message>
  <wsdl:message name="listaImagensGaleriaSoapOut">
    <wsdl:part name="parameters" element="tns:ImagensGaleria" />
  </wsdl:message> 
  <wsdl:portType name="listaImagensGaleriaServiceSoap"> 
    <wsdl:operation name="listaImagensGaleria">
      <wsdl:input message="tns:listaImagensGaleriaSoapIn" />
      <wsdl:output message="tns:listaImagensGaleriaSoapOut" />
    </wsdl:operation>
  </wsdl:portType> 
  <wsdl:portType name="listaImagensGaleriaServiceHttpPost"> 
    <wsdl:operation name="listaImagensGaleria">
      <wsdl:input message="tns:listaImagensGaleriaHttpPostIn" />
      <wsdl:output message="tns:listaImagensGaleriaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType> 
  <wsdl:binding name="listaImagensGaleriaServiceSoap" type="tns:listaImagensGaleriaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
    <wsdl:operation name="listaImagensGaleria">
      <soap:operation soapAction="http://my.server.name/path/listaImagensGaleria" style="document" />
      <wsdl:input><soap:body use="literal" /></wsdl:input>
      <wsdl:output><soap:body use="literal" /></wsdl:output>
    </wsdl:operation>  </wsdl:binding> 
  <wsdl:binding name="listaImagensGaleriaServiceSoap12" type="tns:listaImagensGaleriaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
    <wsdl:operation name="listaImagensGaleria">
      <soap12:operation soapAction="http://my.server.name/path/listaImagensGaleria" style="document" />
      <wsdl:input><soap12:body use="literal" /></wsdl:input>
      <wsdl:output><soap12:body use="literal" /></wsdl:output>
    </wsdl:operation>  </wsdl:binding> 
  <wsdl:binding name="listaImagensGaleriaServiceHttpPost" type="tns:listaImagensGaleriaServiceHttpPost">
    <http:binding verb="POST"/> 
    <wsdl:operation name="listaImagensGaleria">
      <http:operation location="/listaImagensGaleria"/>
      <wsdl:input><mime:content type="application/x-www-form-urlencoded"/></wsdl:input>
      <wsdl:output><mime:mimeXml part="Body"/></wsdl:output>
    </wsdl:operation>  </wsdl:binding> 
  <wsdl:service name="listaImagensGaleriaService">
    <wsdl:port name="listaImagensGaleriaServiceSoap" binding="tns:listaImagensGaleriaServiceSoap">
      <soap:address location="http://my.server.name/path/this_script.lua" />
    </wsdl:port>
    <wsdl:port name="listaImagensGaleriaServiceSoap12" binding="tns:listaImagensGaleriaServiceSoap12">
      <soap12:address location="http://my.server.name/path/this_script.lua" />
    </wsdl:port>
    <wsdl:port name="listaImagensGaleriaServiceHttpPost" binding="tns:listaImagensGaleriaServiceHttpPost">
      <http:address location="http://my.server.name/path/this_script.lua" />
    </wsdl:port>
  </wsdl:service> 
</wsdl:definitions>
